name: CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./honeybeepf

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Setup Rust & bpf-linker
        run: |
          export PATH="$HOME/.cargo/bin:$PATH"
          rustup toolchain install nightly --component rust-src
          if ! command -v bpf-linker &> /dev/null; then
            cargo +nightly install bpf-linker --version 0.9.15
          fi

      - name: Build eBPF & Userspace
        run: |
          export PATH="$HOME/.cargo/bin:$PATH"
          # 1. Build eBPF target (Requires -Z build-std=core for bpfel-unknown-none)
          cargo +nightly build --release --package honeybeepf-ebpf --target=bpfel-unknown-none -Z build-std=core

          # 2. Build Userspace binary
          cargo +nightly build --release --package honeybeepf
          
          # 3. Create a temporary staging directory for artifact uploading
          mkdir -p ./dist_tmp
          cp ../target/release/honeybeepf ./dist_tmp/

      - name: Upload Binary Artifact
        uses: actions/upload-artifact@v4.4.3
        with:
          name: honeybeepf-binary
          path: ./honeybeepf/dist_tmp/honeybeepf
          retention-days: 1

      - name: Download Binary Artifact
        uses: actions/download-artifact@v4.1.8
        with:
          name: honeybeepf-binary
          path: ./dist 

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5.1.0
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/honeybeepf:strat1